/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

.dialog {
    margin: 0px
}
.carousel{
    overflow: visible
}

.card__media, .card__media__content{
  overflow: visible
}
.card__media__content .dialog__container {
    position: absolute
    bottom: -28px
    right: 28px
    z-index: 2

}
/* #accountmenu, #accountmenu button{
    height: 100%
    margin: 0
    padding: 0
}

#accountmenu .menu__activator{
    height: 100%
} */
@media(max-width:600px){
    .carousel{
        height:150px
    }
    .stepper--vertical .stepper__content{
        margin: 0;
        padding-left: 0
        padding-right: 0
    }
    th, td{
        padding: 0 9px !important
    }
    
    /* #accountmenu, #accountmenu button{
        height: auto
        margin: 0
        padding: 0
    }
    #accountmenu .menu__activator{
        height: auto
    }       */
}
@media (min-width:600px){
    #accountmenu, #accountmenu button{
        height: 100%
        margin: 0
        padding: 0
}
    #accountmenu .menu__activator{
        height: 100%
    }
}